* {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 20%, 24%);
    --dark-grayish-blue: hsl(220, 22%, 16%);
    --dark-blue: hsl(218, 30%, 15%);
    --font: 'Manrope';
}

body {
    background-color: var(--dark-grayish-blue);
    font-family: var(--font);
    color: #fff;
    min-height: 100vh;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--grayish-blue);
    width: 30rem;
    height: 20rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
}

.advice-id {
    color: var(--neon-green);
    font-size: 12px;
    letter-spacing: 3px;
}

.advice {
    width: 85%;
    text-align: center;
    font-size: 25px;
    color: var(--light-cyan);
}

.dice {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--neon-green);
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    cursor: pointer;
}

.dice img {
    height: 20px;
}